@model List<Kategori>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Kategoriler
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Kategori" asp-action="kategoriOlustur" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Yeni Kategori Ekle
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th>Sıralama</th>
                <th>Müdahale</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var veriler in Model.OrderBy(x=>x.DisplayOrder))
            {
                <tr>
                    <td>@veriler.Name</td>
                    <td>@veriler.DisplayOrder</td>
                    <td>
                        <div class="w-50 btn-group" role="group">
                            <a asp-controller="Kategori" asp-action="kategoriDuzenle" asp-route-id="@veriler.Id" class="btn btn-dark mx-2">
                                <i class="bi bi-pencil-square"></i> Düzenle
                            </a>
                            <a asp-controller="Kategori" asp-action="Sil" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Sil
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>